.DS_Store
.*.swp
.*.swo
*.pyc
__pycache__
.pytest_cache

.vscode
.vscode/*
*.code-workspace

.ruby-version
dezKey.pem

00-dev-environment/hello_node/node_modules
00-dev-environment/hello_node/package.json
00-dev-environment/hello_node/package-lock.json
00-dev-environment/aws_default_credentials.py
00-dev-environment/credential.json
.gitignore

